:root {
    --light-theme-background-color: white;
    --light-theme-text-color: black;
    --dark-theme-background-color: black;
    --dark-theme-text-color: white;
}

.light-theme {
    --background-color: var(--light-theme-background-color);
    --text-color: var(--light-theme-text-color);
}

.dark-theme {
    --background-color: var(--dark-theme-background-color);
    --text-color: var(--dark-theme-text-color);
}

.dashboard {
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.dark .dashboard {
  background-color: var(--background-color);
  color: var(--text-color);
}

h1 {
    color: var(--light-theme-text-color);
}
